<h2>Add new user</h2>
<form class="addUser" {{action 'addUser' on="submit"}}>
  <fieldset>
    <div class="group">

      <label for="">New user's name</label>
      {{#validation-message errors=errors.model.newUserName pristine=pristine.model.newUserName}}
        {{input type="text" class="form-control username" placeholder="User name" required="" value=model.newUserName disabled=disableAdd}}
      {{/validation-message}}

      <label for="">New user's password</label>
      {{#validation-message errors=errors.model.newUserPassword pristine=pristine.model.newUserPassword}}
        {{input type="text" class="form-control password" placeholder="Password" required="" value=model.newUserPassword disabled=disableAdd}}
      {{/validation-message}}

      <button class="submit btn ok" type="submit" disabled={{model.disableAdd}}>Add user</button>
      <span class="submitMessage">{{{model.submitMessage}}}</span>
    </div>
  </fieldset>
</form>