<div class="user-table-pagination">
  <button class="btn previous" {{action 'previous'}} disabled={{disablePrevious}}>Previous</button>
  <div class="pageNumber">Page {{pageNumber}}</div>
  <button class="btn next" {{action 'next'}} disabled={{disableNext}}>Next</button>
</div>