{{#each modules}}
<li>
  <a href="/#modules/{{url}}" title="{{cleanName}}" class="{{cleanName}}">
    <span class="name">{{cleanName}}</span>
    <span class="badge {{badgeStatus}}">{{messageAmount}}</span>
  </a>
</li>
{{/each}}
