<div class="module" id="{{module.name}}">
  <legend>Settings</legend>

  <span class="description">Configure whether users must confirm their signup and if yes, set up the email they will receive for this purpose.</span>

  <form class="config form-horizontal">
    {{#if emailTransportNotConfigured}}
    <section>
      <div class="control-group">
        <label>
          Signup confirmation
        </label>
        <div class="controls">
          <span class="note">Email needs to be configured in <a href="/modules/appconfig">Appconfig</a> before enabling signup confirmation</span>
        </div>
      </div>
    </section>
    {{else}}
    <section>
      <div class="control-group">
        <label>
          Signup confirmation
        </label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="confirmationMandatory" class="formCondition" data-conditions="true:.confirmationOptions"> is mandatory
          </label>
        </div>
      </div>
    </section>

    <section class="confirmationOptions">
      <div class="control-group">
        <label>
          From address
        </label>
        <div class="controls">
          <input type="email" name="confirmationEmailFrom" value="{{config.confirmationEmailFrom}}" placeholder="{{defaultReplyMailAddress}}" required>
          <span class="note">From address for all of your app's emails.</span>
        </div>
      </div>
    </section>

    <section class="confirmationOptions">
      <div class="control-group">
        <label>
          Subject line
        </label>
        <div class="controls">
          <input type="text" name="confirmationEmailSubject" value="{{config.confirmationEmailSubject}}" placeholder="Please confirm your signup at {{appInfo.name}}">
        </div>
      </div>
    </section>

    <section class="confirmationOptions">
      <div class="control-group">
        <label>
          Body
        </label>
        <div class="controls">
          <textarea rows="4" name="confirmationEmailText">{{config.confirmationEmailText}}</textarea>
        </div>
      </div>
    </section>

    <section>
      <div class="control-group">
        <label>
          &nbsp;
        </label>
        <div class="controls">
          <button class="btn" type="submit">Update</button>
        </div>
      </div>
    </section>
    {{/if}}
  </form>
</div>

<hr>

<div class="content centered">
  <h2 class="top">Users</h2>
  <fieldset class="toggle">
    <legend class="toggler">Add and remove test users</legend>
    <div class="togglee">
      <legend>Add test users</legend>
      <form class="form-horizontal addTestUsers">
        <section class="noBorder">
          <div class="control-group">
            <label>
              Number of test users
            </label>
            <div class="controls">
              <input type="text" name="amountOfTestUsers" class="amountOfTestUsers" value="" placeholder="1">
            </div>
          </div>
        </section>
        <section>
          <div class="control-group">
            <label>
              &nbsp;
            </label>
            <div class="controls">
              <button class="btn" type="submit">Add test users</button>
              <span class="submitMessage"></span>
            </div>
          </div>
        </section>
      </form>
      <legend>Remove test users</legend>
      <form class="form-horizontal removeTestUsers">
        <section class="noBorder">
          <div class="control-group">
            <label>
              &nbsp;
            </label>
            <div class="controls">
              <button class="btn" type="submit">Remove all test users</button>
              <span class="submitMessage"></span>
            </div>
          </div>
        </section>
      </form>
    </div>
  </fieldset>
  <fieldset class="toggle">
    <legend class="toggler">Add real user</legend>
    <div class="togglee">
      <legend>Add real user</legend>
      <form class="form-horizontal addRealUser">
        <section class="noBorder">
          <div class="control-group">
            <label>
              Username
            </label>
            <div class="controls">
              <input type="text" name="username" class="username" value="" placeholder="username">
            </div>
          </div>
        </section>
        <section class="noBorder">
          <div class="control-group">
            <label>
              Password
            </label>
            <div class="controls">
              <input type="text" name="password" class="password" value="" placeholder="">
            </div>
          </div>
        </section>
        <section>
          <div class="control-group">
            <label>
              &nbsp;
            </label>
            <div class="controls">
              <button class="btn" type="submit">Add user</button>
              <span class="submitMessage"></span>
            </div>
          </div>
        </section>
      </form>
    </div>
  </fieldset>
  <div class="userSearch">
    <form class="form-search">
      <div class="input-append">
        <input type="text" class="span2 search-query" placeholder="Username">
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
  </div>
  <div class="tableStatus">
    <p class="currentSearchTerm muted">{{resultsDesc}}</p>
    <p class="currentSearchMetrics muted">Showing {{users.length}} of {{totalUsers}} users</p>
  </div>
  {{#if users}}
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Last seen</th>
        <th>Signup date</th>
        <th>State</th>
        <th>Password</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{id}}</td>
        <td>{{lastLogin}}</td>
        <td class="timeago" title="{{signedUpAt}}">{{signedUpAt}}</td>
        <td>{{state}}</td>
        <td>resend / new</td>
        <td>edit / delete</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  {{#if users}}
  <div class="tableStatus">
    <p class="currentSearchTerm muted">{{resultsDesc}}</p>
    <p class="currentSearchMetrics muted">Showing {{users.length}} of {{totalUsers}} users</p>
  </div>
  {{/if}}
</div>
