<div class="module content centered" id="{{module.name}}">
  {{#if editableUser}}
    {{#with editableUser}}
    <legend>Edit user '{{id}}'</legend>
    <form class="updateUsername form-horizontal" data-id="{{id}}">
      <section class="username noBorder">
        <div class="control-group">
          <label>
            New username
          </label>
          <div class="controls">
            <input type="text" name="username" value="{{id}}" data-oldusername="{{id}}" placeholder="Username cannot be empty" disabled>
            <span class="note">Changing the username isn't implemented yet, sorry.</span>
          </div>
        </div>
      </section>
      <section>
        <div class="control-group">
          <label>
            &nbsp;
          </label>
          <div class="controls">
            <button class="btn" type="submit" disabled>Update username</button>
            <span class="submitMessage"></span>
          </div>
        </div>
      </section>
    </form>
    <form class="updatePassword form-horizontal" data-id="{{id}}">
      <section class="password">
        <div class="control-group">
          <label>
            New password
          </label>
          <div class="controls">
            <input type="text" name="password" value="" placeholder="Password cannot be empty">
          </div>
        </div>
      </section>
      <section>
        <div class="control-group">
          <label>
            &nbsp;
          </label>
          <div class="controls">
            <button class="btn" type="submit">Update password</button>
            <span class="submitMessage"></span>
          </div>
        </div>
      </section>
    </form>
    {{/with}}
  {{else}}
  <legend>Settings</legend>

  <span class="description">Configure whether users must confirm their signup and if yes, set up the email they will receive for this purpose.</span>

  <form class="config form-horizontal">
    {{#if emailTransportNotConfigured}}
    <section>
      <div class="control-group">
        <label>
          Signup confirmation
        </label>
        <div class="controls">
          <span class="note">Email needs to be configured in <a href="/modules/appconfig">Appconfig</a> before enabling signup confirmation</span>
        </div>
      </div>
    </section>
    {{else}}
    <section>
      <div class="control-group">
        <label>
          Signup confirmation
        </label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="confirmationMandatory" class="formCondition" data-conditions="true:.confirmationOptions"> is mandatory
          </label>
        </div>
      </div>
    </section>

    <section class="confirmationOptions">
      <div class="control-group">
        <label>
          From address
        </label>
        <div class="controls">
          <input type="email" name="confirmationEmailFrom" value="{{config.confirmationEmailFrom}}" placeholder="{{defaultReplyMailAddress}}" required>
          <span class="note">From address for all of your app's emails.</span>
        </div>
      </div>
    </section>

    <section class="confirmationOptions">
      <div class="control-group">
        <label>
          Subject line
        </label>
        <div class="controls">
          <input type="text" name="confirmationEmailSubject" value="{{config.confirmationEmailSubject}}" placeholder="Please confirm your signup at {{appInfo.name}}">
        </div>
      </div>
    </section>

    <section class="confirmationOptions">
      <div class="control-group">
        <label>
          Body
        </label>
        <div class="controls">
          <textarea rows="4" name="confirmationEmailText">{{config.confirmationEmailText}}</textarea>
        </div>
      </div>
    </section>

    <section>
      <div class="control-group">
        <label>
          &nbsp;
        </label>
        <div class="controls">
          <button class="btn" type="submit">Update</button>
        </div>
      </div>
    </section>
    {{/if}}
  </form>
</div>

<hr>

<div class="content centered">
  <h2 class="top">Users</h2>
  <fieldset class="toggle">
    <legend class="toggler">Add user</legend>
    <div class="togglee">
      <legend>Add user</legend>
      <form class="form-horizontal addUser">
        <section class="noBorder">
          <div class="control-group">
            <label>
              Username
            </label>
            <div class="controls">
              <input type="text" name="username" class="username" value="" placeholder="username">
            </div>
          </div>
        </section>
        <section class="noBorder">
          <div class="control-group">
            <label>
              Password
            </label>
            <div class="controls">
              <input type="text" name="password" class="password" value="" placeholder="">
            </div>
          </div>
        </section>
        <section>
          <div class="control-group">
            <label>
              &nbsp;
            </label>
            <div class="controls">
              <button class="btn" type="submit">Add user</button>
              <span class="submitMessage"></span>
            </div>
          </div>
        </section>
      </form>
    </div>
  </fieldset>
  <div class="userSearch group">
    <form class="form-search">
      <div class="input-append">
        <input type="text" class="span2 search-query" placeholder="Username"{{#if searchQuery}} value="{{searchQuery}}"{{/if}}>
        <button type="submit" class="btn">Search</button>
      </div>
    </form>
    {{#if searchQuery}}
    <button class="btn clearSearch">Clear search</button>
    {{/if}}
  </div>
  <div class="tableStatus">
    <p class="currentSearchTerm muted">{{{resultsDesc}}}</p>
    <p class="currentSearchMetrics muted">Showing {{users.length}} of {{totalUsers}} users</p>
  </div>
  {{#if users}}
  <table id="userList" class="table users">
    <thead>
      <tr>
        <th data-sort-by="username">Username</th>
        <th data-sort-by="lastSeen">Last seen</th>
        <th data-sort-by="signupDate">Signup date</th>
        <th data-sort-by="state">State</th>
        <th class="no-sort"></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr data-id="{{id}}" data-type="{{type}}" class="user">
        <td>{{id}}</td>
        <td>{{lastLogin}}</td>
        <td data-sort="{{convertISOToTimestamp signedUpAt}}" class="timeago" title="{{signedUpAt}}">{{signedUpAt}}</td>
        <td>
          {{#if $error}}
            <div class="inTableError">
              <span class="error">{{$state}}</span><i class="icon-warning-sign"></i>
              <div class="errorTooltip">
                <i class="icon-warning-sign"></i><strong>{{$error.name}}</strong>
                <p>{{$error.message}}</p>
                <p><a href="{{linkToFutonUser name}}">{{id}}'s user page in Futon</a></p>
              </div>
            </div>
          {{else}}
            {{#if $state}}
              {{$state}}
            {{else}}
              <span class="warn">unconfirmed</span><i class="icon-question-sign"></i>
            {{/if}}
          {{/if}}
        </td>
        <td class="no-sort">
          <a href="#modules/users/user/{{id}}" class="edit">edit</a> /
          <a href="#" class="removeUserPrompt">delete</a> /
          <a href="{{linkToFutonUser name}}">futon</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  {{#if users}}
  <div class="tableStatus">
    <p class="currentSearchTerm muted">{{{resultsDesc}}}</p>
    <p class="currentSearchMetrics muted">Showing {{users.length}} of {{totalUsers}} users</p>
  </div>
  {{/if}}
{{/if}}
</div>

<div id="confirmUserRemoveModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="closeModal btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="removeUser btn btn-danger">Remove user</button>
  </div>
</div>
