<div class="internalPlugin emailPlugin">
  <div class="container">
    <h1>Email Settings</h1>
    {{outlet}}
    <form id="emailForm" {{action 'updateEmailSettings' on='submit'}}>
      <fieldset>
        <label for="fromEmail">From E-Mail Address</label>

        {{#validation-message errors=errors.model.fromEmail pristine=pristine.model.fromEmail}}
          {{input type="text" name="fromEmail" class="form-control" placeholder="From address" value=model.fromEmail}}
        {{/validation-message}}
        <p class="help-block">For password reset emails etc.</p>

        <label>Email Service</label>
        {{select-2
            content=model.availableEmailServices
            value=model.emailService
            placeholder="Email Service"
        }}
        <label for="username">Username</label>
        {{#validation-message errors=errors.model.emailUsername pristine=pristine.model.emailUsername}}
          {{input type="text" name="emailUsername" type="email" class="form-control" id="username" placeholder="Username" value=model.emailUsername}}
        {{/validation-message}}

        <p class="help-block">Account name for the email service</p>

        <label for="password">Password</label>
        {{#validation-message errors=errors.model.emailPassword pristine=pristine.model.emailPassword}}
          {{input type="text" name="emailPassword" class="form-control" id="password" placeholder="Password" value=model.emailPassword}}
        {{/validation-message}}
        <p class="help-block">Email service password</p>

        <button class="submit btn" type="submit" disabled={{disableAdd}}>Save email config</button>
        <span class="submitMessage">{{{submitMessage}}}</span>
      </fieldset>
    </form>
  </div>
</div>

