<div class="internalPlugin usersPlugin">
  <div class="container">
    <h1>New Ember Users Plugin</h1>

    {{add-user action='updateUserList'}}

    <h2>Search for users</h2>
    <form class="userSearch" {{action 'search' on="submit"}}>
      <fieldset>
        <div class="group">
          <label for="">Search term</label>
          {{input value=searchTerm type="text" class="form-control search-query" placeholder="Username"}}
          <p class="help-block">Search only applies to usernames.</p>
          <button class="submit btn ok" type="submit">Search</button>
          {{#if searchTerm}}
          <button class="btn clearSearch" {{action 'clearSearch'}}>Clear search</button>
          {{/if}}
        </div>
      </fieldset>
    </form>

    <h2>Your {{model.totalUsers}} {{pluralize-word model.totalUsers 'user'}}</h2>

    {{#if newUsers}}
    <div class="alert alert-info">Hey! <strong>{{newUsers}} new {{pluralize-word newUsers 'user'}}</strong> signed up since you opened this page. <a href="" {{action 'updateUserList'}}>Refresh the user list</a> to see them.</div>
    {{/if}}

    <div class="content centered">
      <div class="tableStatus">
        <p class="currentSearchMetrics muted">Showing <strong>{{model.users.length}}</strong> {{pluralize-word model.users.length 'user'}} {{#if activeSearch}} matching <strong>{{activeSearch}}</strong> {{/if}}out of a total of <strong>{{model.totalUsers}}</strong>.</p>
      </div>
      {{#if model.users}}

      {{user-table-pagination pageNumber=pageNumber isLastPage=isLastPage action="changePage"}}

      <table id="userList" class="table users table-striped">
        <thead class="{{if sortDesc 'desc' 'asc'}}">
          <tr>
            <th {{action 'sortBy' 'name'}} class="{{is-active-table-header 'name' sortBy}}">Username</th>
            <th {{action 'sortBy' 'created-at'}} class="{{is-active-table-header 'created-at' sortBy}}">Signup date</th>
            <th data-sort-by="state" {{action 'sortBy' 'state'}}>State</th>
            <th class="no-sort"></th>
          </tr>
        </thead>
        <tbody>
          {{#each model.users as |user|}}
          <tr data-id="{{user.value.id}}" class="user">
            <td>{{user.value.name}}</td>
            <td data-sort="{{convert-ISO-to-timestamp user.value.createdAt}}" class="timeago" title="{{user.value.createdAt}}">{{time-ago-in-words user.value.createdAt}}</td>
            <td>
            <span class="pill {{user-state-color user.value.state}}">{{user.value.state}}</span>
            </td>
            <td class="no-sort">
              {{#link-to 'plugins.usersnew.user' user.value.name}}edit{{/link-to}} /
              <a href="#" class="removeUserPrompt" {{action 'promptToDeleteUser' user}}>delete</a> /
              <a href="{{link-to-futon-user user.name}}">futon</a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      {{user-table-pagination pageNumber=pageNumber isLastPage=isLastPage action="changePage"}}

      {{else}}
        {{#if activeSearch}}
          <span class="alert alert-warning">No results for <strong>{{activeSearch}}</strong>. Please note that the search only matches exact strings from the first character onwards at the moment.</span>
        {{else}}
          <span>You don't have any users yet.</span>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>

{{#if deletingUser}}
  {{#confirmation-modal model=selectedUser title='Really delete the user?' confirm='deleteUser' cancel='cancelDelete'}}
  <p>Are you sure you want to delete the user <strong>{{selectedUser.value.name}}</strong> and all their data?</p>
  <p><strong>There is no way to undo this.</strong></p>
  {{/confirmation-modal}}
{{/if}}