{{#if loggedIn}}
  <p>You are already logged in!</p>
{{else}}
  <form class="form-inline login" {{action login on="submit"}}>
    <img src="assets/images/hoodie_logo.svg" alt="" class="fitWidth">
    <label for="password">Please enter your admin password:</label>
    {{input id="password" value=password type="password" placeholder="Admin password"}}
    {{input class="btn" type="submit" value="Log In"}}
  </form>
  {{#if errorMessage}}
    <div class="alert alert-error">{{errorMessage}}</div>
  {{/if}}
{{/if}}